* {
    margin:0;
    padding:0;
    line-height: 1.2em;
}

body {
     background: #cccccc;
}

#top {
    display: block;
    background: #ff0000;
    background: -moz-linear-gradient(top,  #ff0000,  #990000);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#990000));
    box-shadow: 0px 3px 5px #333333;
    -moz-box-shadow: 0px 3px 5px #333333;
	-webkit-box-shadow: 0px 3px 4px #333333;
    height: 110px;
    padding: 1em 0 0 0;
    font-family: "Droid Sans";
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    }

#top h1 {
    font-size: 3.5em;
    font-family: "Kreon";
    font-weight: bold;
    margin-top: 0.1em;
    line-height: 1em;
}

#top h2 {
    color: #ffffff;
    }

#top img {
    float: left;
    }

#content {
    display: block;
    background: #666666;
    background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
    background: -moz-linear-gradient(top,  #666666,  #333333);
    box-shadow: 0px 3px 5px #666666;
    -moz-box-shadow: 0px 3px 5px #666666;
	-webkit-box-shadow: 0px 3px 4px #666666;
    font-family: "Droid Serif";
    color: #ffffff;
    padding: 2em 10% 2em 5%;
    }

#content h1 {
    color: #111111;
    font-size: 170%;
    margin: 0 0 0.5em 0;
    text-shadow:  0px 2px 3px #777777;
    }

#content ul {
    margin: 0 0 2em 2em;
    line-height: 1.5em;
    }

#content p {
    line-height: 1.5em;
    width: 60%;
    }

#content img {
    float: right;
    height: 30%;
    width: 30%;
    box-shadow: 0px 5px 5px #666666;
    -moz-box-shadow: 0px 5px 5px #666666;
    -webkit-box-shadow: 0px 5px 5px #666666;
}

nav {
    display: block;
    margin: 2em auto 0.5em auto;
    width: 90%;
    overflow: auto;
    }

.callout {
    width: 24%;
    float: left;
    position: relative;
    margin: 0 0 2em 0;
    border-left: 2px solid #666666;
    }

.callout h1 {
    text-align: center;
    color: #990000;
    font-family: "Kreon";
    font-size: 200%;
    text-shadow: 0px 2px 3px #eeeeee;
    }

.callout p {
    margin: 1em 5% 0em 5%;
    line-height: 1.2em;
    font-family: "Droid Serif";
    text-align: justify;
    text-shadow: 0px 2px 3px #eeeeee;
}

#location {
    width: 40%;
    margin: 0.5em auto 0.5em auto;
    padding: 2em 0 2em 0;
    font-family: "Droid Serif";
    border-radius: 2em;
    text-align: center;
    background: #990000;
    background: -moz-linear-gradient(top,  #cc0000,  #990000);
    background: -webkit-gradient(linear, left top, left bottom, from(#cc0000), to(#990000));
    box-shadow: 0px -2px 3px #999999;
    -moz-box-shadow: px -2px 3px #999999;
	-webkit-box-shadow: 0px px 3px #999999;
}

#location address {
    display: block;
    margin-top:1em;
    margin-bottom: 2em;
    font-weight: bold;
    text-shadow: 0px 2px 3px #ff0000;
}

#location p {
    text-align: center;
    color: #ffffff;
    font-family: "Kreon";
    font-size: 170%;
    text-shadow: 0px 2px 3px #ff0000;
}


#location li {
    list-style-type: none;
    font-weight: bold;
    text-shadow: 0px 2px 3px #cc0000;
}
